h1, h2, h3, h4, h5, h6, div
{
	text-align:center;
}

div 
{
	font-size: 150%;
}
.left
{
	float:left;
}

header
{
	background-color:black;
	color:gold;
	padding:5px;
	text-align:center;
}

#nav 
{
	line-height:30px;
	background-color:lightsteelblue;
	height:auto;
	width:150px;
	float:left;
	padding:5px;	  
	font-size:125%;
}

footer 
{
	background-color:black;
	color:gold;
	clear:both;
	text-align:center;
	padding:5px;	 	 
}
	
body
{
	background-color:goldenrod;
}
	
a:link
{
	color:black;
	text-decoration:none;
}
	 
a:visited
{
	color:black;
	text-decoration:none;
}
	 
a:hover
{
	color:hotpink;
	text-decoration:underline;
}

p
{
	font-size:125%;
	color:;
	margin:5px;
	text-align:justify;
}

img.right
{
	float:right;
	margin: 5px;
}

img.left
{
	float:left;
	margin: 5px;
}

form
{
	font-size: 125%;
	text-align: center;
}

button
{
	font-size: 100%;
}
	
select
{
	font-size:100%;
}

#maroon
{
	color:maroon;
}

table, th, td 
{
    border: 1px solid black;
    border-collapse: collapse;
	 text-align: center;
}

th, td 
{
	font-size: 125%;
    padding: 15px;
}
	 